<div>
  <%= flash[:notice] %>
</div>

<h1></h1>
  
<% if @user.errors.any? %>
  <%= @user.errors.count %>エラーによりこのユーザーは保存できませんでした:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>