<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      
      <!-----ユーザー情報----->
      <%= render 'info', user: @user %>

      <!-----商品の投稿機能----->
      <%= render 'items/new', item: @item %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <!-----投稿した商品の一覧機能------>
      <%= render 'items/index', items: @items %>
    </div>
  </div>
</div>