<div class="ag-about">
  <div class="ag-hero__title" style="font-size: clamp(2rem, 5vw, 3rem);">
    🎌 <span class="gradient-text">アニメグッズ</span><br>レビューについて
  </div>
  <p class="ag-about__body" style="margin-top: 1.5rem;">
    このサイトは、アニメグッズを愛するファンのための<br>
    レビュー投稿・閲覧プラットフォームです。<br><br>
    お気に入りのフィギュア・アパレル・雑貨など、<br>
    あらゆるアニメグッズのレビューをシェアして<br>
    コミュニティを盛り上げましょう！
  </p>
  <div style="margin-top: 2.5rem; display: flex; gap: 1rem; justify-content: center; flex-wrap: wrap;">
    <%= link_to "✨ 新規登録", new_user_registration_path, class: "ag-btn ag-btn--primary" %>
    <%= link_to "🔑 ログイン", new_user_session_path, class: "ag-btn ag-btn--outline" %>
  </div>
</div>