<% if obj.errors.any? %>
  <div class="ag-error-box">
    <strong>⚠ <%= obj.errors.count %>件のエラーが発生しました</strong>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>